# Java build files
*.class
*.jar
*.war

# Maven target directory
/target/



# Eclipse project files
.project
.classpath
.settings/

# VS Code settings
.vscode/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Temporary files
*.tmp
*.temp